{% extends 'blog/base.html' %}

                    {% block content%}
                    
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Suche nach einer Kategorie
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="?kategorie=TF">Trainingsfortschritt</a>
                          <a class="dropdown-item" href="?kategorie=MT">Motivationstipps</a>
                          <a class="dropdown-item" href="?kategorie=LGT">Laufgruppentrainingseinheit</a>
                          <a class="dropdown-item" href="?kategorie=ATT">Allgemeine Tipps und Tricks</a>
                          <a class="dropdown-item" href="?kategorie=EB">Ernährungsbericht</a>
                          <a class="dropdown-item" href="?kategorie=AB">Ausrüstungsbericht</a>
                        </div>
                    </div>
                    
                      
                    
                    {% for post in posts %}
                            <div class="post">
                                <div class="date">
                                    <p>Veröffentlicht: {{ post.published_date }}</p>
                                </div>
                                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                                <p>Autor: {{ post.author }}</p>
                                <p>Gelaufene km: {{ post.distance_run }} || Zufriedenheit mit meiner Leistung {{ post.performance_satisfaction }}/10</p> 
                                <p>Kategorie: {{ post.get_kategorie_display }}</p> 
                                <p>{{ post.text|linebreaksbr }}</p>
                            </div>
                        {% endfor %}
                    {% endblock %}