{% extends 'blog/base.html' %}

                    {% block content%}
                        {% for post in posts %}
                            <div class="post">
                                <div class="date">
                                    <p>Veröffentlicht: {{ post.published_date }}</p>
                                </div>
                                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                                <p>Autor: {{ post.author }}</p>
                                <p>Gelaufene km: {{ post.distance_run }} || Zufriedenheit mit meiner Leistung {{ post.performance_satisfaction }}/10</p> 
                                <p>{{ post.text|linebreaksbr }}</p>
                            </div>
                        {% endfor %}
                    {% endblock %}